fastapi
uvicorn
python-multipart
python-dotenv
websockets
groq
langchain
langchain-community
langchain-groq
faiss-cpu
sentence-transformers
pypdf
python-docx
edge-tts
redis
aioredis
langchain-huggingface
langchain-text-splitters
pymongo
dnspython
